.feedback
    position: absolute
    width: 100vw
    height: 100vh
    top: 0px
    left: 0px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h2.title
        display: inline-block
        width: 90%
        max-width: 360px
        height: 18px
        background-color: #3C3C3C
        border-radius: 5px
        margin: 14px 0px 10.5px
    p.fake-text
        display: inline-block
        width: 95%
        max-width: 450px
        height: 12px
        background-color: #C9C9C9
        border-radius: 5px
        margin: 3.5px 0px
#success
    h2.title
        background-color: #4BDE95
#failed
    h2.title
        background-color: #EB5757