body
    background-color: #F7F7F7
    margin: 0px
    height: 100%
    font-family: Verdana

main#main-container
    width: 100%
    height: auto
    min-height: calc(100vh - 158px)
    padding-top: 90px