header
    position: fixed
    width: 100%
    height: 90px
    top: 0px
    background-color: #FFFFFF
    border-bottom: 1px solid #F7F7F7
    box-sizing: border-box
    display: flex
    justify-content: center
    z-index: 999
    #header-container
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        height: 100%
        width: 100%
        max-width: 1366px
        #logo
            position: relative
            display: block
            width: 260px
            height: 42px
        nav#main-menu
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            max-width: 600px
            height: 20px
            .item-menu
                display: inline-block
                width: 100px
                height: 18px
                border-radius: 5px
                background-color: #9c9c9c
