extends components/layout.pug

block titlepage
    title="Demo Shop - Checkout light page"

block content
    div#checkout-share
        div.container-fluid
            .row.top-xs
                .col-xs-9
                    div#iframe
                .col-xs-3
                    .card-content
                        h3.fake-heading
                        .row-divisor
                        .fake-description
                            .fake-label
                            .fake-price
                        .fake-description
                            .fake-label
                            .fake-price
                        .fake-description
                            .fake-label
                            .fake-price
                        .row-divisor
                        .fake-description.total-price
                            .fake-label
                            .fake-price
block scriptsBody
    script.
        window.onload = function(){
            const urlLocal = "!{url_token}";
            const paymentID = "!{payment_id}";
            window.openCheckout(urlLocal, paymentID);
        }