extends components/layout.pug

block titlepage
    title="Demo Shop - Checkout light page"

block content
    div#checkout-light
        div.container-fluid
            .row.top-xs.center-xs
                .col-sm-9.col-xs-12
                    .merchant-content
                        h3.fake-heading
                        .fake-description.with-title
                            .fake-label
                            .fake-price
                        .fake-description.with-title
                            .fake-label
                            .fake-price
                        .fake-description.with-title
                            .fake-label
                            .fake-price
            .row.top-xs.center-xs
                .col-sm-9.col-xs-12
                    .merchant-content
                        h3.fake-heading
                        .fake-description.with-divisor
                            .fake-label
                            .fake-price
                        .fake-description.with-divisor
                            .fake-label
                            .fake-price
                        .fake-description.with-divisor
                            .fake-label
                            .fake-price
                .col-sm-9.col-xs-12
                    .merchant-content
                        h3.fake-heading
                        div#iframe
block scriptsBody
    script.
        window.onload = function(){
            const urlLocal = "!{url_token}";
            const paymentID = "!{payment_id}";
            window.openCheckout(urlLocal, paymentID);
        }