extends components/layout.pug

block titlepage
    title="Demo Shop - Something is failed on payment"

block content
    div.feedback#failed
        img(src="/img/failed.png")
        h2.title
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text