extends components/layout.pug

block content
    div.feedback#failed
        img(src="/img/failed.png")
        h2.title
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text