doctype html
html
    head
        block scripts
            script(src="/bundle.js")
    body
        header.teste
            div Atributos no header
        div.container
            h3 Container
            block content
        footer
            div Atributos footer

