extends components/layout.pug

block titlepage
    title="Demo Shop - Success payment"

block content
    div.feedback#success
        img(src="/img/success.png")
        h2.title
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text