extends components/layout.pug

block content
    div.feedback#success
        img(src="/img/success.png")
        h2.title
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text
        p.fake-text